<div>
  
  <h1>game</h1>

    <p>Alive (well, as it were...) Zombies</p>
    <table>
      <tr>
        <th>
          <div ng-click="sortBy('name')">Name</div>
        </th>
        <th>
          <div ng-click="sortBy('hp')">Hit Points</div>
        </th>
        <th>
          <div ng-click="sortBy('type')">Type</div>
        </th>
      </tr>
      <tr ng-repeat="zombie in zombiesAll | orderBy: header : reverse">
        <td>{{ zombie.name }}</td>
        <td id="{{ zombie.name }}" class="green">{{ zombie.hp }}</td>
        <td>{{ zombie.type }}</td>
      </tr>
    </table>

    <p>Dead(er) Zombies</p>
    <table>
      <tr>
        <th>
          <div ng-click="sortBy('name')">Name</div>
        </th>
        <th>
          <div ng-click="sortBy('hp')">Hit Points</div>
        </th>
        <th>
          <div ng-click="sortBy('type')">Type</div>
        </th>
      </tr>
      <tr ng-repeat="zombie in zombiesDead | orderBy: header : reverse" class="grey">
        <td>{{ zombie.name }}</td>
        <td>{{ zombie.hp }}</td>
        <td>{{ zombie.type }}</td>
      </tr>
    </table>

    <div>
      
      <div>
        <p>{{ shotsFired }}</p>
      </div>

      <div ng-click="shoot()">
        SHOOT!
      </div>

    </div>

  <a ui-sref="home">Back</a>

</div>

